---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Mood from '../components/Mood.astro'
import { moods } from '../assets/js/moods'
---

<DefaultLayout title="Mood2Movie">
  <Hero />
  <section class="my-24">
    <div class="container">
      <h2 class="mb-16 text-6xl">What mood are you today?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        {moods.map(mood => <Mood mood={mood.name} link={mood.name.toLowerCase()}>{mood.description}</Mood>)}
      </div>
    </div>
  </section>
</DefaultLayout>